IncontriParrocchiali/myfiles/ParametriLog.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Info">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="nomeApplicazione" type="xs:string"/>
            <xs:element name="nomeEvento" type="xs:string"/>
            <xs:element name="indirizzoIPClient" type="xs:string"/>
            <xs:element name="momento" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>